.button-skin.icon:before {
    content: "";
    background-position: center;
    width: 26px;
    height: 26px;
    margin-right: 4px;
}

.button-skin.icon.add:before {
    background: url("https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/26/new.png") no-repeat;
}

.button-skin.icon.time:before {
    background: url("https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/26/time.png") no-repeat;
}

.button-skin.icon.calendar:before {
    background: url("https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/26/calendar.png") no-repeat;
}

.button-skin.icon.importance:before {
    background: url("https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/26/error.png") no-repeat;
}

.button-skin.icon.finished:before {
    background: url("https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/26/checked_checkbox.png") no-repeat;
}

.button-skin.icon.delete:before {
    background: url("https://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/16x16/DeleteRed.png") no-repeat;
}