*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    /*background: url('http://subtlepatterns.com/patterns/tweed.png');*/
    background-color: rgba(200, 200, 200, 0.7);
}

html:before {
    content: "";
    background: url(../images/smiley_sticky_notes.jpg) repeat;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.1;
}

html, body {
    height: 98%;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

/*.fa {*/
    /*color: black;*/
    /*text-shadow: 2px 2px 1px #ccc;*/
/*}*/

button {
    font-size: 1em;
}

.button-skin {
    font-size: 1em;
}

#main-content {
    flex-direction: column;
}

#dashboard {
    padding: 10px;
}

#dashboard > .note-toolbar {
    display: flex;
    justify-content: flex-end;
}

#theme-switch {
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
}

/*Note entries...*/
#note-container {
    display: flex;
    background-color: beige;
    flex-direction: column;
}

#actions {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding: 1em 0 1em 0;
}

#filters {
    display: flex;
    flex: 0 0 auto;
    height: 50px;
    /*background-color: blue;*/
}

#filters .toolbar a {
    min-width: 160px;
}

#other-actions {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
}

#other-actions .button-skin {
    margin: 0 0 0 4px;
}

.notes {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.note-list-item {
    display: flex;
    flex-direction: row;

    list-style: none;
    padding: 1em 0;

    background-color: white;
}

/*li.nth-child(odd) {background:blue}*/
/*li.nth-child(odd) li.nth-child(even) {background:blue}*/
/*li.nth-child(even) li.nth-child(odd) {background:blue}*/

.note-list-item:nth-child(odd) {
    background-color: beige;
}

.note-status {
    display: flex;
    flex-direction: column;
    flex: 2;

    justify-content: flex-start;
    background-color: blue;
}

.note-overview {
    display: flex;
    flex-direction: column;

    flex: 6;
}

.note-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 1em 0;
}

.note-title {
    flex: 6;
    /*padding: 0 0.5em;*/
    margin: 0;
}

.note-importance {
    font-family: "FontAwesome";
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    margin: 0 0.5em 0 0;
    align-items: center;
}

.note-crud {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    justify-content: flex-end;
}

.note-crud {
    height: 20px;
}

.note-description {
}

.checkbox {
    display: flex;
    flex-direction: row;
}